@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

body {
  font-family: Roboto;
  font-weight: 300;
}

.banner {
  padding: 102px 0;
  height: 100vh;
  position: relative;
}

.banner::after {
  content: "";
  background-image:  url("../images/letters.jpg");
  background-size: cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#end-submit {
  margin-top: 8px;
}

a {
  color: #1e9741;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  color: #14692c;
}

h1 {
  font-weight: 400;
}

.letters {
  list-style: none;
  font-size: 24px;
  padding-left: 0px;
  font-weight: 400;
  margin-top: 12px;
}

li {
  display: inline;
  background-color: #1e9741;
  border: 1px solid #14692c;
  padding: 4px 12px;
  color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}